extends layout

block content
  .container.main-layout.error-layout
    .error-card
      .emoji-placeholder 🚨
      h1 Oops! Something broke.

      if message
        p.error-message #{message}
      else
        p.error-fallback A server error occurred. Please try again later.

      a.btn.btn-green(href="/") Return Home
