doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title RecipeHub
    link(rel="stylesheet", href="/css/style.css")
  body
    nav.navbar
      .container
        a.brand(href="/")
          img(src="/images/logo.png", alt="RecipeHub Logo")
          span.brand-text RecipeHub
        ul.nav-links
          li: a(href="/browse") Browse
          li: a(href="/users/my-recipes") My Recipes
          li: a(href="/community") Community
        .auth-links
          if user
            .avatar-dropdown
              button.avatar-btn
                .avatar-md-circle #{user.username.charAt(0).toUpperCase()}
                span #{user.username}
              .dropdown-content
                a(href="/users/" + user.id) My Profile
                a(href="/logout") Logout
          else
            a.btn-login(href="/login") Login
            a.btn-register(href="/register") Register
    
    main
      block content
    
    footer
      .container
        .footer-grid
          .footer-col.footer-brand
            h4 RecipeHub
            p Share Knowledge. Reduce Waste.
          .footer-col
            h4 Navigation
            ul
              li: a(href="/browse") Browse Recipes
              li: a(href="/users/my-recipes") My Recipes
              li: a(href="/community") Community
          .footer-col
            h4 Community Commitment
            p We believe in reducing food waste through shared knowledge and community cooking.
    
    block scripts
